<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card mb-5 mt-5">
                <div class="card-body">
                    <div class="list-group mb-1">
                        <a href="#" class="list-group-item list-group-item-action">
                            <img src="https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg"
                                class="rounded-circle float-start" style="height: 30px;" alt="...">
                            <h5 class="card-title">{{diary.user.name}}</h5>
                        </a>
                    </div>
                    <p class="card-text">{{diary.text}}</p>
                    <p class="card-text"><small class="text-muted">{{diary.createdAt}}</small></p>
                </div>
                {{#if diary.imageUrl}}
                    <img src="{{diary.imageUrl}}" class="card-img-bottom" alt="Diary Image">
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card-body">
                <form action="/diary/comment/{{diary.id}}" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="mb-3">
                        <label for="comment" class="form-label">Add Comment</label>
                        <textarea class="form-control" id="comment" name="comment" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
            {{#if comments}}
                {{#each comments}}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img 
                                src="https://img.freepik.com/premium-vector/bearded-man-avatar-man-vector-portrait_9385-36.jpg" 
                                class="img-fluid rounded-start" alt="user logo"
                                style="width: 180px;"
                                >
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Username</h5>
                                    <p class="card-text">{{ comment }}</p>
                                    <p class="card-text"><small class="text-body-secondary">{{ createdAt }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>